cloud_id                 = "b1****************05"
folder_id                = "b1****************5h"
zone                     = "ru-central1-a"
image_id                 = "fd****************no"
public_key_path          = "ssh_public_key_path"
subnet_id                = "e9****************40"
service_account_key_file = "key-terraform.json"
private_key_path         = "ssh_private_key_path"
